######################################
# .gitignore直下の管理対象外指定  
######################################
/bk


######################################
#  特定フォルダを管理対象外にする 
######################################
node_modules/
